<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-lg-12">
          <h2>Latest Mars News</h2>
          <h4>{{ mars.news_t }}</h4>
          <p>{{ mars.news_p }}</p>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-8 col-sm-12">
          <h2>Featured Mars Image</h2>
          <img class="featured-image" src= "{{ mars.src }}" style="width: 720px; display: block;">
      </div>
      <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h4>Current Weather on Mars</h4>
              {{ mars.mars_weather }}
            </div>
          </div>
          <div class="mars-facts" style="padding: 5px;">
            <h4>Mars Facts</h4>
            {{ mars.html_table|safe }}
          </div>
      </div>            
  </div>

  <br>

  <h2>Mars Hemispheres</h2>
  



    <!-- Try this code to see hemi working -->
    {% for item in mars.src_h %}
    <div class="col-md-6">
        <div class="card text-white bg-dark" style="margin: 50px;">
            <img class="card-img-top" src="{{ item.img_url }}" />
            <div class="card-body"><p class="card-text">{{ item.title }}</p></div>
        </div>
    </div>
    {% endfor %}

</div>

</body>

</html>